@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background: url(./img/hero.jpg) center top no-repeat, url(./img/botom.jpg) bottom no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

html,
body {
  margin: 0;
  background-color: #001821;
  height: 100%;

}




ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #FFFFFF;
}

.header {
  height: 120px;
  width: 1149px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
  padding-bottom: 14px;

}


.logo__img {

  width: 85px;
  height: 36px;
}

.menu__list {
  display: flex;

}

.logo {
  margin-right: 79px;
  margin-top: -24px;
  margin-left: 9px;
}

.menu__link {
  font-size: 14px;
  color: #ffff;
  text-decoration: none;
}

.menu__item {
  margin-right: 54px;
  padding-bottom: 17px;
}

.menu__item:last-child {
  margin-right: ;
}



.contacts__header {
  color: #ffff;
  font-style: normal;
}

.contacts__phone {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  color: #FFFFFF;
  text-decoration: none;

}

.contacts__workhours {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  text-align: right;
  position: relative;
  bottom: 5px;
}



.preview__title {
  width: 45%;
  font-size: 72px;
  color: #FFFFFF;
  margin-bottom: 28px;
  margin-left: 11px;
}

.preview__text {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 35px;
  margin-left: 11px;
}

.preview {
  margin-bottom: 241px;

}



.button {

  width: 168px;
  height: 55px;
  border: 1px solid #F5170E;
  border-radius: 35px;
  text-align: center;
  background: #F5170E;
  cursor: pointer;
  color: #FFFFFF;
}

.button:hover {
  background: #F5170E;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hottours__subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 19px;
  margin-left: 8px;
}

.hottours__text {
  font-weight: normal;
  font-size: 14px;
  color: #303030;
  width: 324px;
  text-align: left;
  padding: 0px 0px 25px 30px;
  margin: 0;
}

.hottours__item-container {
  padding: 5px 16px 26px 22px;

}

.hottours__option {
  display: flex;
  margin-left: 7px;
  margin-right: 10px;


}

.hottours__option-text {
  line-height: 30px;
  margin-right: 25px;
}
}

p {
  margin: 0;
}

.hottours__list {
  display: flex;
  justify-content: space-between;
  width: 104%;

}

.hottours__img-icon {
  width: 100%;
  height: 144px;
  object-fit: cover;

}

.title {
  color: #FFFFFF;
  margin-bottom: 51px;
  font-size: 36px;
  margin-left: 12px;

}

.hottours__item {
  background-color: #FFFFFF;
  margin-right: 27px;
  color: #001821;
  border-radius: 4px;
  width: calc(100% / 3-18px);
  overflow: hidden;


}

.hottours__option-text {}

.news__title {
  margin-top: 127px;
}

.hottours__button {
  margin-bottom: 26px;
  margin-left: 30px;
  width: 140px;
  height: 55px;
  border: 1px solid #F5170E;
  border-radius: 35px;
  text-align: center;
  background: #FFFFFF;
  cursor: pointer;
  color: #F5170E;

}

.hottours__button:hover {
  color: #FFFFFF;
}


.news__item {
  display: flex;
  justify-content: space-between;
  width: 557px;
  vertical-align: top;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-right: -7px;
}

.news__img {

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 557px;
  height: 394px;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px 39px;
  min-height: 140px;
}


.news__date {
  font-size: 14px;
  margin-bottom: 12px;
}

.news__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -10px;
  margin-top: 12px;
}

.news__list {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.paginator {
  color: #ffff;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__display,
.paginator__list {
  display: flex;
  justify-content: center;
}

.paginator__display {
  margin-right: -16px;

  margin-bottom: 125px;
  margin-left: 24px;
}

.paginator__display-all {
  margin-right: 29px;
  margin-left: 4px;
}

.paginator__item {
  text-align: center;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 32px;
}

.pager__item--active .paginator__link {
  background: #FFFFFF;
  color: #F5170E;

}

.paginator__display-current {
  margin-right: 5px;
  margin-left: 4px;
}

.about {
  display: flex;
}

.about::before {
  content: "";
  display: block;

  width: 490px;
  height: 505px;
  background: url(./img/gates.jpg) center center / cover no-repeat;
  overflow: hidden;

}

.about__content {
  background: url(./img/mountains.jpg);
  width: 785px;
  height: 455px;
  margin-left: -124px;
  margin-top: 113px;
  overflow: hidden;
  object-fit: cover
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  color: #001821;
  margin-bottom: 40px;
  padding: 39px 1px 0px 71px
}

.about__text {
  margin-bottom: 68px;
  width: 502px;
  padding: 0px 81px;
  line-height: 27px;
}


.about__button {
  margin-left: 83px;
}

.social__item {
  display: inline-block;
  margin-right: 10px;
  width: 36px;
  height: 36px;
}

.about__content {
  margin-bottom: 53px;
}

.footer {
  margin: 0 auto;
  border-top: rgba(255, 255, 255, 0.1) solid 1px;
  display: flex;

  height: 93px
}



.footer__menu {
  position: relative;
  top: 63px;


}

.contacts__workhours-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  align-items: right;
  color: #FFFFFF;
  position: relative;
  left: 300px;
  top: 34px;
}

.contact__footer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  left: 107px;
  width: 191px;
  height: 20px;
  top: 66px
}

.socials__list {
  position: relative;
  left: 221px;
  width: 197px;
  top: 50px;
}

.footer__logo {
  margin-top: 47px
}

.contacts__footer {
  display: block;
}